.container {
    display: flex;
    justify-content: center;
    color: var(--colorthrid);
    font-size: var(--font1);
}

.container .dalamcontainer {
    background-color: var(--colorsekunder);
    width: var(--max-width);
}

.content {
    display: flex;
}

.judul {
    font-weight: 700;
    padding: 30px 20px 0 30px;
    font-size: 1.5rem;
}

.kiri {
    width: calc(((var(--max-width)*70)/100));
    /* background-color: red; */
    /* height: 500px; */
    padding: 0 30px 30px 30px;
}

.kiri .tambahproduct {
    width: 100%;
    margin-top: 20px;
    padding: 30px 50px;
    border: 1px solid var(--colorbggreyutama);
    font-weight: 500;
    cursor: pointer;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.kiri .tambahproduct:hover {
    background-color: var(--colorbggreyutama);
}

.product {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    color: var(--colortext);
    border-bottom: 1px solid var(--colorbggreyutama);
    gap: 20px;
}

.product .kiriproduct {
    display: flex;
    align-items: center;
}

/* .product .judulproduct {
} */

.product .harga {
    font-weight: 500;
}

.product .gambar {
    width: 100px;
    height: 100px;
    border-radius: var(--border-radius);
    border: 1px solid var(--colorbggreyutama);
}

.product .kananproduct {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product .kananproduct .text {
    width: 350px;
}

.product .text2 {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.product .kananproduct .count {
    display: flex;
    gap: 15px;
    align-items: center;
}

.product .kananproduct .count button {
    /* height: fit-content; */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    border: 1px solid var(--colorbggreyutama);
    background-color: var(--colorsekunder) !important;
    cursor: pointer;
    font-size: 20px;

}

.product .kananproduct .count button:hover {
    cursor: pointer;
    background-color: var(--colorbggreyutama) !important;
    border-radius: var(--border-radius);
}

.product .kananproduct .sampah {
    padding: 5px;
}

.product .kananproduct .sampah:hover {
    cursor: pointer;
    background-color: var(--colorbggreyutama);
    border-radius: var(--border-radius);
}



/* .formContainer button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formContainer button:hover {
    background-color: #45a049;
} */

.kanan {
    width: calc((var(--max-width)*30)/100);
    height: fit-content;
    padding: 30px 30px 0 0;
    position: sticky;
    top: 70px;
    font-size: var(--font1mobile);
}

.kanan .edit {
    text-decoration: underline;
    cursor: pointer;
}

.dalamkanan {
    background-color: var(--colorbggreyutama);
    padding: 20px;
    margin-bottom: 20px;
}

.kanan .judulringkasan {
    font-weight: 500;
    margin-bottom: 20px;
}

.kanan .subjudul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.kanan .subjudul .textkanan {
    font-weight: 500;
}

.kanan .total {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding-top: 10px;
    border-top: 1px solid var(--colorsekunder);
}

.kanan .dalamkananvc {
    padding-bottom: 20px;
}

.kanan .judulvc {
    margin-bottom: -10px;
    font-weight: 700;
}

.kanan .dalamkananvc input {
    padding: 10px;
    border: 1px solid var(--colorthrid);
    font-size: 1rem;
    width: 60%;
    height: 100%;
}

.kanan .dalamkananvc button {
    background-color: var(--colorthrid);
    color: var(--colorsekunder);
    cursor: pointer;
    width: 40%;
    font-weight: 500;
    margin-top: 20px;
    height: 100%;
}

.kanan .dalamkananvc .inputenter {
    height: 50px;
    margin-bottom: 20px;
}

.kanan .dalamkananvc span:nth-child(4) {
    text-decoration: underline;
    cursor: pointer;
}

.kanan .dalamkanan button {
    background-color: var(--colorthrid);
    color: var(--colorsekunder);
    height: 50px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    font-weight: 500;
    margin-top: 20px;
}

.kanan .dalamkanan button:hover {
    font-weight: 700;
}

.alert {
    padding-top: 20px;
}


.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 30px;
    gap: 10px;
}

.notfound button {
    background-color: var(--colormain);
    color: var(--colorsekunder);
    height: 50px;
    padding: 0 18px;
    border-radius: var(--border-radius);
    font-weight: 700;
    cursor: pointer;
}

.notfound button:hover {
    background-color: var(--hovercolormain);
}

@media only screen and (max-width: 1100px) {
    .content {
        display: flex;
        flex-direction: column;
    }


    .kanan {
        width: 100%;
        height: fit-content;
        padding: 30px;
        position: sticky;
        top: 70px;
    }

    .kiri {
        width: 100%;
        padding: 0 30px 0px 30px;
    }

}


@media only screen and (max-width: 767px) {
    .product .kananproduct {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .product .kananproduct .text {
        width: 100%
    }

    .container {
        font-size: var(--font1mobile);
    }

    .product .kananproduct {
        align-items: flex-start;
    }

}