.footer {
    background: #0b0f19;
    color: #cbd5f5;
    padding: 80px 8% 30px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 60px;
}

/* BRAND */

.logo {
    font-size: 32px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

.desc {
    margin-bottom: 25px;
    line-height: 1.6;
    color: #94a3b8;
}

/* CONTACT */

.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.contactItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* BUTTON */

.buttons {
    display: flex;
    gap: 14px;
}

.primaryBtn {
    background: linear-gradient(90deg, #6366f1, #3b82f6);
    padding: 12px 20px;
    border-radius: 40px;
    color: white;
}

.secondaryBtn {
    border: 1px solid #334155;
    padding: 12px 20px;
    border-radius: 40px;
}

/* LINKS */

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links h3 {
    color: white;
    margin-bottom: 10px;
}

.links a {
    color: #94a3b8;
    transition: .2s;
}

.links a:hover {
    color: white;
}

/* SOCIAL */

.social h3 {
    color: white;
    margin-bottom: 15px;
}

.icons {
    display: flex;
    gap: 16px;
    font-size: 20px;
}

.icons a {
    color: #94a3b8;
}

.icons a:hover {
    color: white;
}

/* BOTTOM */

.bottom {
    margin-top: 60px;
    border-top: 1px solid #1e293b;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.policy {
    display: flex;
    gap: 20px;
}

.policy a {
    color: #94a3b8;
}

/* RESPONSIVE */

@media (max-width:900px) {

    .container {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .bottom {
        flex-direction: column;
        gap: 10px;
    }

}