.container {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: var(--font1);
    color: var(--colorthrid);
    margin-bottom: 20px;
}

.dalamkontainer {
    /* margin: 30px 0; */
    width: 1400px;
    overflow: hidden;
}

.typemerek {
    position: absolute;
    top: 5px;
    left: 10px;
    display: flex;
    gap: 10px;
}

.type {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    background-color: var(--colorthrid);
    color: var(--colorsekunder);
}

.fMerek {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    background-color: var(--colorthrid);
    color: var(--colorsekunder);
}

/* Brand */
.montoya {
    background: #F26B1D;
    color: #ffffff;
}

.fawvw {
    background: #3452a5;
    color: #ffffff;
}

.champion {
    background: #f1c232;
    color: #000000;
}

.tsuzumi {
    background: #C4161C;
    color: #ffffff;
}

.isuzu {
    background: #ec5138;
    color: #ffffff;
}

.hidemitsu {
    background: #0000ff;
    color: #ffffff;
}

.isuzutsuzumi {
    background: #fe6144;
    color: #ffffff;
}

/* FILLTER */
.bawah {
    display: flex;
    /* overflow-y: auto; */
    /* height: 100vh; */
    scrollbar-width: none;
    /* Untuk Firefox */
    padding: 0 20px;
}

.bawah::-webkit-scrollbar {
    display: none;
    /* Untuk Chrome, Safari, Edge */
}

.bawah .filter {
    position: sticky;
    top: 0;
    width: 300px;
    border-radius: var(--border-radius);
}


.bawah .filter .judul {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
}

.bawah .filter .kategori {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
    background-color: var(--colorsekunder);
    text-transform: capitalize;
}


.bawah .filter .kategori .list {
    font-weight: 500;
    padding: 15px 15px 15px 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bawah .filter .kategori .list:hover {
    transition: all ease 0.2s;
    background-color: var(--colormain);
    color: var(--colorsekunder);
    cursor: pointer;
}

.bawah .filter .kategori .checkboxLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bawah .filter .kategori .checkbox {
    margin-right: 8px;
}

.bawah .filter .kategori .text {
    font-size: 14px;
}


.bawah .filternya {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius);
    gap: 10px;
    background-color: var(--colorbggreyutama);
    padding: 5px;
    width: 100%;
    text-transform: capitalize;
}

.bawah .filternya .close {
    background-color: var(--colorsekunder);
    border-radius: var(--border-radius);
    padding: 5px 7px;
    color: var(--colorthrid);
    cursor: pointer;
}

.bawah .listproduct {
    width: 100%;
    /* background-color: blue; */
}

.bawah .gambarbawah {
    width: 100%;
    position: relative;
    max-width: 1000px;
    aspect-ratio: 1/1
}

.bawah .gambarbawah img {
    width: 100%;
    object-fit: contain;
}

.bawah .gambarbawah .wm {
    width: 100%;
    position: absolute;
    top: 0;
}

.bawah .name {
    font-weight: 500;
}

.bawah .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 10px;
    gap: 20px;
    padding: 0 20px;
}

.kotak {
    width: 100%;
    min-height: 400px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    /* background-color: yellow; */
    /* background-color: var(--colorsekunder); */
    /* background-color: #f7f7f7; */
    border-radius: var(--border-radius);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
    position: relative;
}


.bawahdetail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.penawaran {
    background-color: var(--colormain);
    text-align: center;
    color: var(--colorsekunder);
    height: 40px;
    padding: 0 18px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: 0 2px;
}

.penawaran:hover {
    background-color: var(--hovercolormain);
}

.bawah .listproduct .price {
    color: var(--colormain);
    font-weight: 1000;
}

/* .bawah .listproduct .kotak:hover {
    transition: all ease 0.2s;
    box-shadow: 0px 0px 0px 5px var(--colormain);
    -webkit-box-shadow: 0px 0px 0px 5px var(--colormain);
    -moz-box-shadow: 0px 0px 0px 5px var(--colormain);
    overflow: hidden;
} */

.bawah .listproduct .kotak:hover img {
    transition: all ease 0.2s;
    scale: 1.08;
}


.loadmore {
    width: 100%;
    height: 100%;
    font-size: var(--font1);
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.angka {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -5px;
    top: 8px;
    z-index: 6;
    cursor: pointer;
}

.satu {
    font-size: 20px;
    width: 100px;
    height: 40px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 12px 12px 0;
    font-weight: 800;
    line-height: 12px;
    letter-spacing: .1px;
    color: #fff;
    background-color: rgb(249, 77, 99);
}

.dua {
    width: 5px;
    height: 5px;
    border-radius: 0 0 0 5px;
    background-color: rgb(249, 77, 99);
}


.angkatotal {
    padding: 20px;
}

@media only screen and (max-width: 1000px) {

    .bawah {
        display: flex;
        overflow-y: unset;
        height: auto;
        flex-direction: column;
    }

    .bawah .filter {
        position: unset;
        top: auto;
        width: auto;
    }


    .bawah .filter {
        width: 100%;
    }

    .bawah .grid {
        padding: 20px;
    }

    .dalamkontainer {
        width: 100%
    }
}


@media only screen and (max-width: 767px) {
    .dalamkontainer {
        padding: 0 !important;
    }
}

@media only screen and (max-width: 480px) {


    .bawah .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        grid-gap: 5px;
        gap: 5px;
        padding: 20px 10px;
    }

    .container {
        font-size: var(--font1mobile);
    }

    /* FILLTER */
    .bawah {
        padding: 0;
        display: flex;
        /* gap: 20px; */
    }


    .satu {
        font-size: 12px;
        width: 70px;
        height: 30px;
    }

    .bawahdetail .penawaran {
        font-size: 14px;
    }

}