.container {
    display: flex;
    justify-content: center;
}

.dalamcontainer {
    width: var(--max-width);
}

.mainSkeleton {
    width: 100%;
    margin-bottom: 20px;
    background-color: var(--colorsekunder);
    padding: 30px;
}

.productList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: var(--colorsekunder);
}

.productItem {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .dalamcontainer {
        width: 100%
    }
}

@media only screen and (max-width: 480px) {
    .productList {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
}