.container {
    display: flex;
    justify-content: center;
    font-size: var(--font1mobile);
}

.privacyPolicy {
    width: var(--max-width);
    margin: 20px;
    line-height: 1.6;
    background-color: var(--colorsekunder);
    padding: 30px;
}

.privacyPolicy .judul {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}

.privacyPolicy h1 {
    color: #2c3e50;
}

.privacyPolicy h2 {
    color: #2c3e50;
}

.privacyPolicy p {
    margin-bottom: 10px;
}

.privacyPolicy ul {
    list-style-type: disc;
    margin-left: 20px;
}

.privacyPolicy section {
    margin-bottom: 20px;
}