.container {
    display: none;
    position: fixed;
    bottom: -1px;
    background-color: var(--colorsekunder);
    z-index: 9999;
    width: 100%;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    border-top: 1px solid var(--colorbggreyutama);
}

.atas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    position: relative;
}


.atas .wa {
    color: var(--colormain);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.atas .penawaran {
    color: var(--colormain);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.atas .share {
    color: var(--colormain);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bawah {
    display: flex;
    gap: 5px;
}

.whatsapp {
    width: 100%;
    background-color: var(--colorwa);
    color: var(--colorsekunder);
    text-align: center;
    height: 50px;
    padding: 0 18px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.diskon {
    position: absolute;
    top: -16px;
    right: 0px;
    background-color: #e53935;
    color: #ffffff;
    font-size: 11px;
    font-weight: 600;
    padding: 0px 6px;
    border-radius: 6px;
    z-index: 2;
}

.wa {
    background-color: var(--colorwa);
    color: var(--colorsekunder);
    text-align: center;
    height: 50px;
    padding: 0 18px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.penawaran {
    background-color: var(--colorthrid);
    color: var(--colorsekunder);
    text-align: center;
    height: 50px;
    padding: 0 18px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.share {
    background-color: var(--colorthrid);
    color: var(--colorsekunder);
    text-align: center;
    height: 50px;
    padding: 0 18px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.belisekarang {
    width: 100%;
    background-color: var(--colormain);
    color: var(--colorsekunder);
    text-align: center;
    height: 50px;
    padding: 0 18px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.share {
    display: flex;
    align-items: center;
}

.wa {
    display: flex;
    align-items: center;
}


@media only screen and (max-width: 767px) {
    .container {
        display: block;
    }
}