.container {
    display: flex;
    justify-content: center;
    font-size: var(--font1mobile);
}


.termsConditions {
    width: var(--max-width);
    margin: 20px;
    line-height: 1.6;
    background-color: var(--colorsekunder);
    padding: 30px;
}

.termsConditions .judul {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}

.termsConditions h1 {
    color: #2c3e50;
}

.termsConditions h2 {
    color: #2c3e50;
}

.termsConditions p {
    margin-bottom: 10px;
}

.termsConditions ul {
    list-style-type: disc;
    margin-left: 20px;
}

.termsConditions section {
    margin-bottom: 20px;
}